<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>r/{{ subreddit.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="ml-1">This is r/{{ subreddit.name }}</h1>
    {% for post in posts %}
    <div class="col-11">
      <div class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.content }} - {{ post.profile_id }}</h5>
          </div>
          <p class="mb-1">{{ post.votes.count }} - {{ post.subreddit_id }}</p>
          post.num_vote_up: {{ post.num_vote_up }} <br>
          post.num_vote_down: {{ post.num_vote_down }} <br>
          post.calculate_vote_score: {{ post.calculate_vote_score }} <br>
          post.vote_score: {{ post.vote_score }} <br>
          post.votes.user_ids: {{ post.votes.user_ids }}
          <small>{{ post.timestamp }}</small>
        </a>
      </div>
      <form action="/r/{{ subreddit.name }}/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user }}" />
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <input type="hidden" name="upvote" value="upvote" />
        <input class="btn btn-outline-primary" type="submit" value="Upvote" />
      </form>
      <form action="/r/{{ subreddit.name }}/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user }}" />
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <input type="hidden" name="downvote" value="downvote" />
        <input class="btn btn-outline-primary" type="submit" value="Downvote" />
      </form>
    </div>
    {% endfor %}
  </body>
</html>
