{% extends 'base.html' %}

{% block page_title %}
  <span>r/{{ subreddit.name }}</span>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="subreddit-posts col-11 col-md-8">
      {% for post in posts %}
      <div class="col-11">
        <div class="list-group m-1">
          <div
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
          <div class="row">
              <div class="upvotes col-md-2">
                      {% include "vote.html" %}
              </div>
              <div class="subreddit-posts col-md-10">
                  <div class="d-flex w-100">
                      <p class='font-weight-bold'><a href='/r/{{ post.subreddit_id.name }}/' class='text-dark'>r/{{ post.subreddit_id.name }}</a></p><p class='font-weight-light ml-1'>Posted by <a href='/u/{{ post.profile_id.username }}' class='text-muted'>u/{{ post.profile_id.username }}</a> at {{ post.timestamp }}</p>
                  </div>
                  <div class="title-post">
                      <h5 class='mb-1'><a href='/p/{{ post.id }}' class='text-dark'>{{ post.title }}</a></h5>
                      <p>{{ post }}</p>
                      {% if current_user == post.profile_id %}
                        <a class='text-muted' href='/r/{{ post.subreddit_id.name }}/delete/{{ post.id}}/'>Delete</a>
                      {% endif %}
                  </div>
              </div>
          </div>   
          </div>
        </div>
      </div>
      {% endfor %}
      

    </div>
    <div class="subreddit-buttons col-6 col-md-4 mt-1 pt-5 pb-3 bg-white text-right border rounded h-100">
      <h4 class="text-center">r/{{ subreddit.name }}</h4>
      <div>
        <p class="text-left">{{ subreddit.description }}</p>
      </div>
      <a class="btn btn-primary ml-1 my-1 w-100" href="/post/{{ subreddit.name }}">Create Post</a>
      {% if subreddit not in subscriptions %}
        <a class='btn btn-primary ml-1 my-1 w-100' href='/subscribe/{{ subreddit.name }}/'>Subscribe</a>
      {% endif %}
      {% if subreddit in subscriptions %}
        <a class='btn btn-primary ml-1 my-1 w-100' href='/unsubscribe/{{ subreddit.name }}/'>Unsubscribe</a>
      {% endif %}
      {% if is_creator %}
        <a class='btn btn-primary ml-1 my-1 w-100' href='/moderatoradd/'>Add Moderator</a>
      {% endif %}  
    </div>

  </div>
  {% if is_creator %}
    <a class='btn btn-danger ml-1 my-1' href='/subdelete/{{subreddit.id}}/'>Delete Subreddit</a>
  {% endif %}

{% endblock %}
{% block  javascript %}
  {%  include "jquery.html" %}
{% endblock %}