[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
python-dotenv = "*"
django-vote = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.7.1"
